#root {
  width: 100%;
  height: 100%;
  .wrap {
    max-width: 1000px;
    width: 1000px;
    height: auto;
    margin: 0 auto;
  }
}

.menu {
  margin-top: 5px;
  span {
    color: #fff;
  }
}

.webstiteTitle {
  width: 200px;
  height: auto;
  position: relative;
  top: 5px;
}


.detail {
  .markdown-text {
    img {
      width: 100% !important;
    }
    a {
      color: #00bcd4;
    }
  }
}
