#root {
  width: 100%;
  height: 100%;
  .wrap {
    max-width: 1000px;
    width: 1000px;
    height: auto;
    margin: 0 auto;
  }
}

.menu {
  margin-top: 5px;
  span {
    color: #fff;
  }
}

.webstiteTitle {
  width: 20%;
  height: auto;
  position: relative;
  top: 5px;
}
