.toast {
  font-family: 'Lato', sans-serif;
  width: 220px;
  height: 60px;
  padding: 15px 20px;
  background-color: #222;
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 1101;
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.117647) 0px 1px 6px, rgba(0, 0, 0, 0.117647) 0px 1px 4px;
  h3 {
    color: #fff;
    height: 30px;
  }
  p {
    color: #fff;
  }
}
